.offered-services-section{
    width: 90%;
    margin: 50px auto; 
}

.offered-services-section-title{
   
}

.offered-services-section-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.servise-image{
    margin-top: 20px;
    width: 200px;
    height: 150px;
}

.offered-services-card{
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 23%;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.offered-services-card:hover{
transform: scale(1.05);
box-shadow: 0 0 5px gray
}

p{
    padding: 10px;
    line-height: 20px;
}

hr{
    width: 40%;
   border-top: 5px orange solid;
    float: left;
}

h1{
    font-size: 30px;
    margin: 0;
}

h2{
    font-weight: 400;
    margin-bottom: 10px;
}

/* menu Buttons */
.more-info {
    background-color: orange;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
    width: 100px;
    margin-bottom: 20px;
  }
    
  /* Menu button hover  */
  .more-info:hover{
    background-color: rgb(243, 125, 8);
    text-decoration: underline;
    color:black;
  } 